<!DOCTYPE html>

<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/img/favicon.ico" />


    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img alt="logo" src="~/img/logo.png" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown spdm_listitem_mobile">
                        <div class="spdm_listitem_mobile spdm_listitem_mobile_title">
                            <span>SPDMov<br /></span>
                           Sociedade portuguesa das <br /> doenças do movimento
                        </div>
                    </li>
                    <li class="dropdown spdm_toplevel_listitem spdm_oneline_listitem active">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A SPDMov<i class="fa fa-chevron-down fa-1" aria-hidden="true"></i></a>
                       <ul class="dropdown-menu">
                            <li><a href="/App/Article/ASPDMov">A SPDMov</a></li>
                            <li><a href="/App/Article/Historia">História</a></li>
                            <li><a href="/App/Article/Reunioes">Reuniões</a></li>
                            <li><a href="/App/Article/OrgaosSociais">Órgãos Sociais</a></li>
                            <li><a href="/App/Article/WorkingGroups">Working Groups</a></li>
                            <li><a href="/App/Article/Contactos">Contactos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown spdm_toplevel_listitem">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Doenças do Movimento <i class="fa fa-chevron-down fa-1" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/App/Article/oquesao">O que são</a></li>
                            <li><a href="/App/Article/principaisdoencas">Principais doenças</a></li>
                            <li><a href="/App/Article/doencasraras">Doenças raras</a></li>
                        </ul>
                    </li>
                    <li class="spdm_toplevel_listitem">
                        <div class="spdm_toplevel_wrapper">
                            <a href="/App/Article/documentos">Documentos</a>
                        </div>
                    </li>
                    <li class="spdm_toplevel_listitem">
                        <div class="spdm_toplevel_wrapper">
                            <a href="/App/AllNews">Notícias</a>
                        </div>
                    </li>
                    <li class="spdm_toplevel_listitem spdm_oneline_listitem ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Educação <i class="fa fa-chevron-down fa-1" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/App/Article/movingbuzz">Moving Buzz</a></li>
                            <li><a href="/App/Article/actualizacoes">Actualizações</a></li>
                            <li><a href="/App/Article/cursos">Cursos da SPDMov</a></li>
                        </ul>
                    </li>
                     <li class="spdm_toplevel_listitem spdm_toplevel_listitem_last">
                        <div class="spdm_toplevel_last">
                            <a href="/App/Article/linksdeinteresse">Links de interesse</a>
                        </div>
                    </li>
                    <li class="spdm_listitem_mobile">
                        <div class="spdm_toplevel_wrapper">
                            <a href="/App/Network">Rede de cuidados</a>
                        </div>
                    </li>
                    <li class="spdm_listitem_redecuidados">
                        <button  type="button" onclick="location.href='/App/Network';" class="spdm_button_redecuidados">Rede de cuidados</button>
                    </li>
                </ul>
              </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-full">
        @RenderBody()
    </div>
    <!-- footer -->
    <footer class="footer">
        <div class="container-full">
            <div class="spdm_footer_wrapper">
                <div class="spdm_footer_logo">
                    <div>Com o apoio da bolsa sem restrições de:</div>
                    <div><img src="~/img/allergan.png" /></div>
                </div>
                <div class="spdm_footer_links1">
                    <div><a href="/App/Article/ASPDMov">A SPDMov</a></div>
                    <div><a href="/App/Article/principaisdoencas">Doenças do Movimento</a></div>
                    <div><a href="/App/Article/linksdeinteresse">Links de Interesse</a></div>
                </div>
                <div class="spdm_footer_links2">
                    <div><a href="/App/AllNews">Notícias e Eventos</a></div>
                    <div><a href="/App/Article/movingbuzz">Educação</a></div>
                    <div><a href="/App/Network">Rede de Cuidados</a></div>
                </div>
                <div class="spdm_footer_newsletter">
                    <div class="spdm_footer_newsletter_title">Subscreva a nossa Newsletter</div>
                    @Component.InvokeAsync("Newsletter").Result
                </div>
                <div class="spdm_footer_logo_mobile">
                    <div>Com o apoio da bolsa sem restrições de: </div>
                    <div><img src="~/img/allergan.png" /></div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <environment names="Development">
        <script type="text/javascript" src="~/js/site.js"></script>
    </environment>
    <environment names="Production">
        <script type="text/javascript" src="~/lib/_app/site.js"></script>
    </environment>
        @RenderSection("scripts", false)

</body>

</html>
